* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* (1)一回リセットCSS以外消す */
/* (2)各項目ごとに記述を分ける */
/* (3)コピペできるものはコピペで済ませる */
/* (4)やりたいことを日本語で書いておき、AIに書かせる */


/* (2)HEADER */
/* (3) */

header {
    background-color: #f3f4f6;
    padding: 1rem;
    border: 2px dashed #d1d5db;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .logo {

      font-weight: bold;
      font-size: 1.25rem;
      background: #ffffff;
      }
.logo img{width: 180px;
height: 80px;
background: #D9D9D9;
}
.box{
    width: 100%;
    height: 480px;
    background-color: #000000; /* 背景色は任意 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: #ddd3d3;
}




.hikari img{
    width: 320px;
    height: 320px;
    border-radius: 160px;
    background: #000;}
.hikari {
    display: flex;
    width: 100%;
    padding: 80px 249px 80px 211px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 63px;
    
}
.works{width: 100%;
background: #000;
padding-bottom: 10px;

color: #FFF;
text-align: center;

line-height: normal;}





.works img{width: 320px ; 
height: 180px ;
flex-shrink: 0;
background: #FFF;}






 .ko{color: #FFF;
text-align: center;
font-family: Futura;
font-size: 48px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: 100%;
height: 496px;
background: #1C1C1C;}

.ko img{display: inline-flex;
height: 104px;
padding: 20px;
justify-content: center;
align-items: center;
gap: 20px;
color: #FFF;
font-family: Futura;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.po {display: flex;
width: 100%;
height: 85px;
padding: 10px;
justify-content: space-between;
align-items: center;
align-content: space-between;
background: #000;
color: #FFF;
font-family: Futura;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */


}


/* (2)Main Visual */
/* (4)やりたいことを日本語で書いておき、AIに書かせる */

/* 画面幅いっぱいで高さは480pxの箱の中にMain Visulaという文字を中心に表示*/



/* (2)About */



/* (2)Works */


/* (2)Contact */

/* (2)Footer */